@model IEnumerable<WebBanHang.Models.ChiTietDonDatHang>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<div class="col-lg-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h2 class="card-title">Danh sách chi tiết các sản phẩm trong hóa đơn</h2>

            <a href="~/Admin/AdminChiTietDonDatHangs/Create">
                <button type="button" class="btn btn-primary btn-fw">Tạo một chi tiết hóa đơn mới</button>
            </a>

            <div class="table-responsive">

                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th style="color:white">
                                ID hóa đơn
                            </th>
                            <th style="color:white">
                                Tên mặt hàng
                            </th>
                            <th style="color:white">
                                Số lượng
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>

                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.DonDatHang.IDDDH)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.MatHang.TenMH)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.SoluongMH)
                                </td>
                                <td>
                                    <a href="~/Admin/AdminChiTietDonDatHangs/Details/@item.IDChiTietDDH">
                                        <button style="min-width:50px" type="button" class="btn btn-outline-success btn-fw">Details</button>
                                    </a>

                                    <a href="#">
                                        <button id="myBtn" type="button" class="btn btn-outline-danger btn-fw">Đánh giả sản phẩm</button>
                                    </a>

                                    <input type="button" class="btn btn-outline-danger btn-fw" data-toggle="modal" data-target="#tips-@item.IDChiTietDDH" value="Đánh giá sản phẩm" />

                                    <!-- The Modal -->

                                    <div class="container" @*id="tips-@item.IDChiTietDDH" tabindex="-1" role="dialog" aria-labelledby="tipsLabel"*@>

                                        @*<div class="container">*@
                                            <div class="modal">
                                                <!-- Nội dung form đăng nhập -->
                                                <div class="modal-content">
                                                    <form action="@item.IDChiTietDDH">
                                                        <span class="close">&times;</span>
                                                        <h2 style="color:black">Đánh giá sản phẩm</h2>
                                                        <h3 style="color:black"> @item.DanhGiaSanPham <i class="mdi mdi-star-outline"></i></h3>
                                                        <h3 style="color:black">Bình luận: @item.BinhLuan</h3>
                                                    </form>
                                                </div>
                                            </div>
                                        @*</div>*@
                                    </div>
                                    <!-- The Modal -->

                                </td>
                            </tr>

                            
                                }
                        </tbody>
                </table>
            </div>
        </div>
    </div>
</div>




<style>

    .container {
        width: 70%;
        margin: auto;
        text-align: center;
    }
    /* Định dạng phần form đăng nhập*/
    .fomrgroup {
        width: 50%;
        margin: auto;
        display: block;
        height: 50px;
    }

        .fomrgroup input {
            float: right;
            width: 70%;
            height: 25px;
            margin-right: 20px;
            line-height: 50px;
        }
       
    /* The Modal (background) */
    .modal {
        display: none; /* mặc định được ẩn đi */
        position: fixed; /* vị trí cố định */
        z-index: 1; /* Ưu tiên hiển thị trên cùng */
        padding-top: 100px;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        overflow: auto;
        background-color: rgb(0,0,0);
        background-color: rgba(0,0,0,0.4);
    }

    /* Modal Content */
    .modal-content {
        background-color: #fefefe;
        margin: auto;
        padding: 20px;
        border: 1px solid #888;
        width: 60%;
    }

    /* The Close Button */
    .close {
        color: #aaaaaa;
        float: right;
        font-size: 28px;
        font-weight: bold;
        text-align:right;        
    }

        .close:hover,
        .close:focus {
            color: #000;
            text-decoration: none;
            cursor: pointer;
        }
</style>

<script>
    // lấy phần Modal
    //var modal = document.getElementById('myModal');
    var modal = document.getElementsByClassName("modal")[0];

    // Lấy phần button mở Modal
    var btn = document.getElementById("myBtn");

    // Lấy phần span đóng Modal
    var span = document.getElementsByClassName("close")[0];

    // Khi button được click thi mở Modal
    btn.onclick = function() {
        modal.style.display = "block";
    }

    // Khi span được click thì đóng Modal
    span.onclick = function() {
        modal.style.display = "none";
    }

    // Khi click ngoài Modal thì đóng Modal
    window.onclick = function(event) {
        if (event.target == modal) {
            modal.style.display = "none";
        }
    }
</script>